body {
    font-family: 'Open Sans', sans-serif;
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: flex;
}

.icon.desktop-only {
    display: inline-flex;
}

img:hover {
    cursor: pointer;
}

a {
    color: #000000;
    text-decoration: underline;
}

span.char-same,
span.char-diff {
    font-size: 2.5em;
    font-family: 'Roboto Mono', monospace;;
}

span.char-same {
    background-color: #55efc4;
}

span.char-diff {
    background-color: #fab1a0;
}

.image-container {
    width: 128px;
}

.loading-text {
    font-size: 1em;
    color: #111111;
    z-index: 1;
}

.loading-overlay .loading-background {
    background: rgba(255,255,255,.9);
}

.loader {
  border: 5px solid #d3d3d3;
  border-top: 5px solid #555555;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.panel-heading {
    font-size: 1em;
}

img.hflip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

img.vflip {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

img.hflip.vflip {
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

img.rotate90 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

img.hflip.rotate90 {
    -webkit-transform: rotate(90deg) scaleX(-1);
    transform: rotate(90deg) scaleX(-1);
}

img.vflip.rotate90 {
    -webkit-transform: rotate(90deg) scaleY(-1);
    transform: rotate(90deg) scaleY(-1);
}

img.hflip.vflip.rotate90 {
    -webkit-transform: scale(-1, -1) rotate(90deg);
    transform: scale(-1, -1) rotate(90deg);
}

img.rotate180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

img.hflip.rotate180 {
    -webkit-transform: scaleX(-1) rotate(180deg);
    transform: scaleX(-1) rotate(180deg);
}

img.vflip.rotate180 {
    -webkit-transform: scaleY(-1) rotate(180deg);
    transform: scaleY(-1) rotate(180deg);
}

img.hflip.vflip.rotate180 {
    -webkit-transform: scale(-1, -1) rotate(180deg);
    transform: scale(-1, -1) rotate(180deg);
}

img.rotate270 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

img.hflip.rotate270 {
    -webkit-transform: rotate(270deg) scaleX(-1);
    transform: rotate(270deg) scaleX(-1);
}

img.vflip.rotate270 {
    -webkit-transform: rotate(270deg) scaleY(-1);
    transform: rotate(270deg) scaleY(-1);
}

img.hflip.vflip.rotate270 {
    -webkit-transform: scale(-1, -1) rotate(270deg);
    transform: scale(-1, -1) rotate(270deg);
}

@media only screen and (max-width: 600px) {
  .image-container {
    width: 64px;
  }
  span.char-same,
  span.char-diff {
      font-size: 1em;
  }
  .mobile-only {
    display: flex;
  }
  .icon.desktop-only,
  .desktop-only {
    display: none;
  }
}
